{
  "env": {
    "es6": true
  },

  "parserOptions": {
    "parser": "babel-eslint"
  },

  "plugins": [
    "@coorpacademy/coorpacademy"
  ],
  "extends": ["coorpacademy/core", "coorpacademy/ava"]
}
